/* Colors Some from https://palx.jxnblk.com/00a1f1 */

$grey9: #364046;
$grey6: #93a2a9;
$grey4: #bbc5c9;
$grey3: #cdd4d7;
$grey2: #dce1e3;
$grey1: #ebedef;
$grey0: #f8f9f9;

/* WaniKani */
$apprenticePink: #dd0093;
$guruPurple: #882d9e;
$masterBlue: #294ddb;
$enlightenedLightBlue: #0093dd;
$burntBlack: #434343;
$radicalLightBlue: #00a1f1;
$kanjiPink: #f100a1;
$vocabularyPurple: #a100f1;

$background-color: $grey9;
$white-text-color: $grey1;
$text-color: $grey9;
$jumbotron-background: $grey3;
$cellBackground: $grey1;
$cellFontSize: 1.3em;
$borderRadius: 4px;
$paddingBase: 8px;
$marginBase: $paddingBase + 2;

body {
    font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif, "Helvetica Neue";
    background-color: $background-color;
    color: $text-color;
}

.jumbotron{
    background-color: $jumbotron-background;
}

.btn{
    // Do not make links in buttons blue
    a{
        color: $white-text-color;
        text-decoration: none;
    }
}

.APIKeyInput{
    input{
        width: 20em;
    }
}

.kanjiCell{
    // background-color: $kanjiPink;
}
.radicalCell{
    // background-color: $radicalLightBlue;
}
.vocabularyCell{
    // background-color: $vocabularyPurple;
}

.radicalContainer,
.kanjiContainer,
.vocabularyContainer{
}

.vocabularyCell,
.radicalCell,
.kanjiCell{
    display: inline-block;
    text-align: center;
    font-size: $cellFontSize;
    border-radius: $borderRadius;
    padding: $paddingBase $paddingBase;
    margin: $marginBase $marginBase;
    background-color: $cellBackground;
}
